body{
    font-size: 26px;
}

.form-container{
    width: 30%;
    margin: auto;
    margin-top: 5vh;
}

input, select{
    font-size: 26px;
    line-height: 28px;
}

form{
    text-align: center;
}

table{
    text-align: left;
}