body{
    background-color: steelblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button{
    font-size: 24px;
    color: white;
    background-color: rgb(17, 69, 112);
    border: solid 1px rgb(19, 37, 51);
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(26, 96, 153);
}

.search>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.search>button{
    font-size: 18px;
    margin-top: 10px;
}

.search-container{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.search-left>input, .search-right>input{
    width: 50%;
    line-height: 28px;
    font-size: 24px;
}

.result{
    border: solid 1px rgb(43, 78, 107);
    border-radius: 5px;
    padding: 10px 30px;
    width: 30%;
    color: white;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.result:hover{
    background-color: rgb(32, 76, 112);
}