body{
    background-color: steelblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.search{
    width: 15%;
    margin: auto;
}

#main-search{
    width: 100%;
    line-height: 28px;
    font-size: 24px;
}

.result{
    border: solid 1px rgb(43, 78, 107);
    border-radius: 5px;
    padding: 10px 30px;
    width: 30%;
    color: white;
    margin: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.result:hover{
    background-color: rgb(32, 76, 112);
}